/*-------------- about -----------------*/
.about{
	&__text{
		font-size: 2rem;
		line-height: 1.4;
	}

	&__img{
		margin-right: -375px;
		text-align: right;

		img{border-radius: 12px 0 0 12px;}
	}
}

@media (max-width: 991px) {
	.about{
		&__text{font-size: 1.6rem;}
	}
}