/*-------------- main-menu -----------------*/
.main-menu{
	position: relative;

	[class^='col-']{position: static;}

	&__list,
	&__item,
	&__sub,
	&__sub-item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__list{
		display: flex;
		justify-content: space-around;
	}

	&__item{
		display: inline-flex;
		align-items: center;
		position: relative;
	}

	&__item_cat{position: static;}

	&__arr{
		flex-shrink: 0;
		margin-left: 8px;

		.icon{
			stroke: #fff;
			transition: stroke 0.2s ease 0s;
		}
	}

	&__link{
		@include font(normal, bold, 1.8rem, 1.2, #fff);
		text-decoration: none;
		padding: 20px 15px;
		transition: background 0.2s ease 0s;
	}

	&__item:hover &__link{background: #0069B5;}

	&__sub{
		display: none;
		width: 200px;
		background: #0069B5;
	}

	&__sub-link{
		display: block;
		padding: 10px 15px;
		@include font(normal, normal, 1.4rem, 1.2, #fff);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__sub-item:not(:last-child){border-bottom: 1px solid rgba(255,255,255,0.16);}
	&__sub-link:hover{background: rgba(255,255,255,0.16);}
}

.cat-menu{
	display: none;
	width: 100%;
	background: #0069B5;
	padding: 35px 0;

	&__list,
	&__item,
	&__sub,
	&__sub-item{
		padding: 0;
		margin: 0;list-style: none;
	}

	&__list{
		display: flex;
		flex-wrap: wrap;
		margin-left: -25px;
		margin-right: -25px;
	}

	&__item{
		width: calc(33.33% - 50px);
		margin: 25px;
	}

	&__link{
		@include font(normal, bold, 2.6rem, 1.4, #fff);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__link:hover{color: #68a3ce;}

	&__sub{margin-top: 14px;}

	&__sub-item{
		padding: 16px 0 15px;
		border-bottom: 1px solid #007bd5;
	}

	&__sub-link{
		@include font(normal, normal, 1.8rem, 1.4, #fff);
		text-decoration: none;
		transition: color 0.2s ease 0s;
	}

	&__sub-link:hover{color: #68a3ce;}
}

@media (min-width: 992px) {
	.main-menu{
		&__item:hover &__sub,
		&__item:hover .cat-menu{
			display: block;
		}

		&__sub{
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 100;
		}
	}

	.cat-menu{
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;

		&__item:nth-child(2){width: calc(66.66% - 50px)}

		&__item:nth-child(2) &__sub{
			column-count: 2;
			column-gap: 50px;
		}
	}
}

@media (max-width: 991px) {
	.main-menu{
		width: 100vw;
		height: calc(100vh - 66px);
		background: #0069b5;
		position: fixed;
		top: 66px;
		left: -100vw;
		z-index: 1000;
		overflow-y: auto;
		transition: left 0.2s ease 0s;

		&.active{left: 0;}
		&__list{display: block;}
		&__item{display: block;}
		&__item:not(:last-child){border-bottom: 1px solid rgba(255,255,255,0.16);}

		&__link{
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			padding: 20px 0;
		}

		&__arr{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			margin: -10px 0 -10px 20px;
		}

		&__sub{
			width: auto;
			background: transparent;
			margin-top: 0;
		}

		&__sub-link{
			padding: 10px 0;
			font-size: 1.8rem;
			font-weight: bold;
		}

		&__sub-item{padding: 0;}

		&__sub-link{
			display: block;
			padding: 10px 0;
		}

		&__sub-item:not(:last-child){border-bottom: none;}
	}

	.cat-menu{
		width: auto;
		padding: 0;
		margin-left: -15px;
		margin-right: -15px;

		&__list{
			display: block;
			margin-left: 0;
			margin-right: 0;
		}

		&__item{
			width: auto;
			margin: 0;
		}

		&__link{
			display: block;
			font-size: 1.8rem;
			font-weight: bold;
			padding: 0 0 7px;
		}

		&__sub{margin-top: 0;}
		&__sub-link{font-size: 1.6rem;}
		&__sub-item{padding: 11px 0;}
		&__sub-item:last-child{border-bottom: none;}

		&__item:not(:last-child){
			border-bottom: 2px solid #fff;
			padding-bottom: 7px;
			margin-bottom: 20px;
		}
	}
}