/*-------------- slick -----------------*/
.btn-arr{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 6px;
	background: transparent;
	margin: 0;
	padding: 0;
	font-size: 0;
	box-shadow: none;
	border: none;
	outline: none;
	position: absolute;
	@include top-center;
	cursor: pointer;
	transition: background 0.2s ease 0s;

	.icon{
		fill: $color-blue;
		transition: fill 0.2s ease 0s;
	}

	&:hover{background: $color-blue;}
	&:hover .icon{fill: #fff;}
}

.btn-arr_left{left: -70px;}
.btn-arr_right{right: -70px;}

.progress {
	display: block;
	// width: ca100%;
	height: 6px;
	border-radius: 3px;
	overflow: hidden;
	margin: 40px 100px;
	background-color: #ececec;
	background-image: linear-gradient(to right, $color-blue, $color-blue);
	background-repeat: no-repeat;
	background-size: 0 100%;
	transition: background-size .4s ease-in-out;
  }

@media (max-width: 1300px) {
	.btn-arr_left{left: -25px;}
	.btn-arr_right{right: -25px;}
}

@media (max-width: 991px) {
	.btn-arr{
		transform: none;
		top: auto;
		bottom: 10px;

		&_left{left: 0;}
		&_right{right: 0;}
	}
}