extends ../layout/main

block variables
	- var title = 'О компании';
	- var h1 = 'О компании';

block content
	.page-content
		.container
			.row
				.col-lg-3.d-none.d-lg-block
					include ../components/left-menu

				.col-lg-9
					-
						var breadcrumbs=[
							{href:'/',name:'Главная'},
							{href:'#',name:'О компании'},
						];

					+breadcrumbs(breadcrumbs)

					+h1(h1)

					p Численный состав ООО «СУДОЭКОЛОГИЯ» – свыше 100 человек основных судостроительных специальностей. Фирма работает под надзором Российского Речного Регистра и Российского Морского Регистра Судоходства. Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС.

					.row
						.col-md-8
							img(src="assets/img/drive.jpg", alt="").border-radius

						.col-md-4
							br.d-md-none
							.h3 Система контроля качества соответствует требованиям Международного стандарта качества

					br
					p Фирма имеет опыт выполнения работ под надзором Bureau Veritas, Lloyd's Register. Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС. Система контроля качества соответствует требованиям Международного стандарта качества. Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями.

					h2 Преимущества комплексных систем от компании

					ul
						li Долгий срок эксплуатации, достигающий 25 лет и более;
						li Широкий модельный ряд;
						li Высокая производительность;
						li Простая конструкция: один корпус для трехступенчатой очистки;
						li Удобное техническое обслуживание;
						li Возможность модернизации за счет установки дополнительных камер;
						li Корпус из стеклопластика, имеющего меньший вес по сравнению с изделиями из других материалов.

					p В связи с этим мы можем предложить Вашему вниманию проекты судов, построенных нашей фирмой, а также еще нереализованные проекты, которые могут быть нами построены.

					h2 Сертификаты

					.docs-list
						-
							var list=[
								{img:'certificate1.jpg'},
								{img:'certificate2.jpg'},
								{img:'certificate1.jpg'},
								{img:'certificate2.jpg'},
							]
						each item in list
							.docs-list__item
								a(href='assets/img/'+item.img data-fancybox='certificate')
									img(src='assets/img/'+item.img alt='')



					
	include ../components/form
