extends ../layout/main

block variables
	- var title = 'Услуга детальная';
	- var h1 = 'Дефектация корпусов судов и механизмов';

block content
	.page-content
		.container
			.row
				.col-lg-3.d-none.d-lg-block
					include ../components/left-menu

				.col-lg-9
					-
						var breadcrumbs=[
							{href:'/',name:'Главная'},
							{href:'/',name:'Услуги'},
							{href:'#',name:'Дефектация корпусов судов и механизмов'},
						];

					+breadcrumbs(breadcrumbs)

					+h1(h1)

					.service-detail
						p Численный состав ООО «СУДОЭКОЛОГИЯ» – свыше 100 человек основных судостроительных специальностей. Фирма работает под надзором Российского Речного Регистра и Российского Морского Регистра Судоходства. Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС.

						img(src="assets/img/service-detail.jpg", alt="").border-radius

						p Система контроля качества соответствует требованиям Международного стандарта качества. Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями.

						.gallery
							.row
								.col-md-4
									.gallery__item
										img(src="assets/img/project1.jpg", alt="").border-radius
								.col-md-4
									.gallery__item
										img(src="assets/img/project2.jpg", alt="").border-radius
								.col-md-4
									.gallery__item
										img(src="assets/img/project3.jpg", alt="").border-radius

						p Фирма имеет опыт выполнения работ под надзором Bureau Veritas, Lloyd's Register. Разработанные нашими специалистами технологические процессы ремонта судов имеют одобрение РМРС. Система контроля качества соответствует требованиям Международного стандарта качества. Все технические руководители фирмы являются дипломированными инженерами-кораблестроителями.

						h2 Преимущества комплексных систем от компании

						ul
							li Долгий срок эксплуатации, достигающий 25 лет и более;
							li Широкий модельный ряд;
							li Высокая производительность;
							li Простая конструкция: один корпус для трехступенчатой очистки;
							li Удобное техническое обслуживание;
							li Возможность модернизации за счет установки дополнительных камер;
							li Корпус из стеклопластика, имеющего меньший вес по сравнению с изделиями из других материалов.

						p В связи с этим мы можем предложить Вашему вниманию проекты судов, построенных нашей фирмой, а также еще нереализованные проекты, которые могут быть нами построены.

						h2 Дополнительные услуги

						.prices
							-
								var list=[
									{label:'Долгий срок эксплуатации, достигающий 25 лет и более', val:'15 000'},
									{label:'Широкий модельный ряд', val:'7 000'},
									{label:'Высокая производительность', val:'999 000'},
									{label:'Удобное техническое обслуживание', val:'44 000'},
								]
							each item in list
								.prices__item
									.prices__label= item.label
									.prices__val= item.val
										|&nbsp;&#8381;

	include ../components/form
