extends ../layout/main

block variables
	- var title = 'Типографика';
	- var h1 = 'Типографика';

block content
	section.container
		.row
			.col-12
				p
					a(href='#') Это стандартная ссылка

				p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

				p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.

				br
				br
				div.h2 Доп. классы для текста
				p <span class="code">text-left</span> Выравнивание текста по левому краю
				p <span class="code">text-center</span> Выравнивание текста по центру
				p <span class="code">text-right</span> Выравнивание текста по правому краю
				p <span class="code">text-justify</span> Выравнивание текста по ширине
				p <span class="code">text-uppercase</span> Все символы текста становятся прописными (верхний регистр)
				p <span class="code">text-bold</span> Жирный текст

				br
				br
				div.h2 Заголовки
				h1 Заголовок - h1
				h2 Заголовок - h2
				h3 Заголовок - h3
				h4 Заголовок - h4
				h5 Заголовок - h5
				h6 Заголовок - h6

				br
				p.h1 Это класс с названием h1
				p.h2 Это класс с названием h2
				p.h3 Это класс с названием h3
				p.h4 Это класс с названием h4
				p.h5 Это класс с названием h5
				p.h6 Это класс с названием h6

				br
				br
				br
				div.h2 Списки
				ul
					li Ненумерованный список
					li Ненумерованный список
					li Ненумерованный список
					li Ненумерованный список
					li Ненумерованный список

				br
				br
				ol
					li Нумерованный список
					li Нумерованный список
					li Нумерованный список
					li Нумерованный список
					li Нумерованный список

				br
				br
				br
				div.h2 Кнопки
				a.btn(href='#')
					.btn__text Кнопка
					.btn__blobs
						div
						div
						div

				br
				br
				br
				.h2 Нестандартный radio
				.input-radio
					input#radio1(type='radio' name='param1')
					label.input-radio__label(for='radio1')
						span.input-radio__mark
						span.input-radio__text Текст
				br
				br
				br
				.h2 Нестандартный checkbox
				.input-check
					input#check1(type='checkbox')
					label.input-check__label(for='check1')
						span.input-check__mark
							+svg('ic-check','ic-check', '10', '8')
						span.input-check__text Текст
				
				br
				br
				br
				.h2 Фоны
				.bg-blue(style="padding: 20px")
					p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
				
				br
				br
				.bg-light-blue(style="padding: 20px")
					p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.
					p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

				br
				br
				.bg-wave


				br
				br
				div.h2 Иконки
				.type-icon
					.type-icon__item
						.type-icon__img
							+svg('ic-place','ic-place', '16', '14')
						.type-icon__name ic-place

					.type-icon__item
						.type-icon__img
							+svg('ic-mail','ic-mail', '16', '12')
						.type-icon__name ic-mail

					.type-icon__item
						.type-icon__img
							+svg('ic-call','ic-call', '16', '15')
						.type-icon__name ic-call

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-up','ic-arrow-up ic-stroke', '14', '9')
						.type-icon__name ic-arrow-up

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-down','ic-arrow-down ic-stroke', '14', '9')
						.type-icon__name ic-arrow-down

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-left','ic-arrow-left', '14', '24')
						.type-icon__name ic-arrow-left

					.type-icon__item
						.type-icon__img
							+svg('ic-arrow-right','ic-arrow-right', '14', '24')
						.type-icon__name ic-arrow-right

					.type-icon__item
						.type-icon__img
							+svg('ic-check','ic-check', '16', '12')
						.type-icon__name ic-check
