//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site: 'Inter', Arial, sans-serif;
$font-oran: 'Oranienbaum', Arial, sans-serif;

// Site
$color-text: #000;
$color-grey: #969696;
$color-blue: #005694;
$color-blue-light: #007dd8;
$color-red: #ee0317;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
) !default;