/* footer */
.footer{
	padding: 120px 0 100px;
	background: $color-blue url(../img/waves.png) no-repeat bottom center;

	a{
		color: #fff;
		transition: color 0.2s ease 0s;
	}

	a:hover{color: $color-blue-light;}
}

.footer-top{
	&__phone{
		@include font(normal, bold, 3.2rem, 1.4, #fff);
	}

	&__text{
		@include font(normal, normal, 2rem, 1.8, #fff);
		margin-top: 15px;
	}
}

.footer-menu{
	&,
	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&{
		column-count: 2;
		column-gap: 30px;
	}

	&__item{margin-bottom: 12px;}

	&__link{
		@include font(normal, normal, 1.8rem, 1.4, #fff);
		transition: color 0.2s ease 0s;
	}

	&__link:hover{color: $color-blue-light;}
}

.footer-bottom{
	@include font(normal, normal, 1.6rem, 1.4, #fff);
	padding-top: 78px;
}