footer.footer
	.footer-top
		.container
			.row
				.col-md-6
					.footer-top__phone
						a(href="tel:+78122746945") +7 (812) 274-69-45
						br
						a(href="tel:+78122746949") +7 (812) 274-69-49
						
					.footer-top__text
						|193036, Санкт-Петербург, 4-я Советская ул., д. 7
						br
						a(href="mailto:1989@sudoeco.ru") 1989@sudoeco.ru

				.col-md-6
					-
						var list=[
							{text:'О компании'},
							{text:'Услуги'},
							{text:'Наши работы'},
							{text:'Цены'},
							{text:'Отзывы'},
							{text:'Вакансии'},
							{text:'Контакты'},
						]
					ul.footer-menu
						each item in list
							li.footer-menu__item
								a(href="#").footer-menu__link= item.text

	.footer-bottom
		.container
			.row
				.col-md-6
					.footer-bottom__copyright © 2007 — 2021 OOO "Судоэкология".

				.col-md-6
					a(href="#").footer-bottom__polit Политика конфиденциальности


<!-- Попап об успешной отправки письма -->
#msg-success(style='display: none;')
	.success-alert.js-success-alert
		.success-alert__title.js-success-alert-title Ваше сообщение отправлено!
		.success-alert__text.js-success-alert-text В ближайшее время с вами свяжется наш менеджер и обсудит все детали.

.move-up.js-move-up
	+svg('ic-arrow-up','ic-arrow-up ic-stroke', '18', '12')